@tailwind base;
@tailwind components;
@tailwind utilities;

.Blurver {
  background: transparent;
  backdrop-filter: blur(10px);
  border: 1px solid gray;
}
.backcolo {
  background-color: #f45888;
}
.Badge {
  position: absolute;
  z-index: 11;
  top: 10px;
  right: 0;
  margin-right: 5px;

}
.hoverimage {
  position: relative;
  width: 100%;
  height: auto;
}
.image {
  width: 100%;
  height: 300px;
}
.positions {
  position: absolute;
  left: 0;
  bottom: 0;
  margin-bottom: 20px;
  margin-left: 20px;
  font-weight: 600;
  padding: 20px;
}

.overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background: transparent;
  backdrop-filter: blur(2px);
  overflow: hidden;
  width: 100%;
  height: 100%;
  -webkit-transform: scale(0);
  -ms-transform: scale(0);
  transform: scale(0);
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

.hoverimage:hover .overlay {
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
}

.text {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

.swiper {
  width: 100%;
  height: 100%;
}
@media only screen and (min-width: 1200px){
.flexblong{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
}
@media only screen and (min-width: 768px){
  .flexblong{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  }

.bghd{
  justify-content: right;
  right: 0;
  display: flex;
  
}

.menu {
  position: fixed;
  top: 0;
  z-index: 99;
  right: -100%; /* Initially position it off-screen to the right */
  width: 350px;
  background-color: white;
  border: 1px solid #ccc;
  padding: 10px;
  transition: right 0.3s ease; /* Add a smooth transition effect */
}

.menu.visible {
  right: 0; /* Move it to the right to make it visible */
}